<%= form_tag do %>
<div id="user">
  <fieldset>
  <legend>Зареєструйтеся будь ласка</legend>
    <div>
      <%= label_tag :name, "Ім'я:" %>
      <%= text_field_tag :name, params[:name], class: "form-control" %>
    </div>
    <div>
      <%= label_tag :password, 'Пароль:' %>
      <%= password_field_tag :password, params[:password], class: "form-control" %>
    </div><br>
  <div>
    <%= submit_tag "Увійти", class: "btn btn-sm btn-primary" %>
  </div>
  </fieldset>
</div>
<% end %>