  <div id="article" class="panel panel-default">
    <div class="panel-heading"><%= link_to article.title, article.url %>
      <span class="pull-right">
        <small>Автор: <%= link_to article.user.name, article.user %></small>
      </span>
    </div>
    <div class="panel-body">
      <% if article.img %>
        <%= image_tag('main/' + article.img, :class => "img-thumbnail") %>
      <% end %>
      <div>
        <%= truncate(article.content, length: 400, separator: ' ', escape: false) %>
      </div>
      <div class="pull-right">
        <%= link_to "Детальніше...", article, class: 'pull-right' %>
      </div>
    </div>
    <div class="info">
      <small class="pull-left"><span> Створено: </span> <%= article.created_at.strftime('%I:%M, %d-%B-%Y') %> </small>
      <small class="pull-right"><span> Категорія: </span> <%= link_to article.category.name, article.category %> </small>
      <small class="pull-right"><span> Торгова марка: </span> <%= link_to article.company.name, article.company %> </small>
    </div>
  </div>