<h3 class="brand">Статті сайту:</h3>

<% @articles.each do |article| %>
  <div id="article" class="panel panel-default">
    <div class="panel-heading"><%= link_to article.title, article %>
    <span class="pull-right">
    <small>Автор: 
      <%  if article.user %>
        <%= link_to article.user.name, article.user %>
      <% end %>
      </small>
    </span>
    </div>
    <div class="panel-body">
      <div><%= article.content %></div>
    </div>
    <div class="info">
      <small class="pull-left"><span> Створено: </span> <%= article.created_at.strftime('%I:%M, %d-%B-%Y') %> </small>
      <small class="pull-right"><span> Категорія: </span>
        <%  if article.category %> 
          <%= link_to article.category.name, article.category %>
        <% end %> </small>
      <small class="pull-right"><span> Торгова марка: </span>
        <%  if article.company %>
          <%= link_to article.company.name, article.company %>
        <% end %>
      </small>
    </div>
  </div>
<% end %>

<br>
<%= link_to 'Створити статтю', new_article_path %>
