<div id="article" class="panel panel-default">
  <div class="panel-heading"><%= link_to @article.title, @article.url %>
    <span class="pull-right">  
      <%  if @article.user %> 
        <small>Автор: <%= link_to @article.user.name, @article.user %></small>
      <% end %>
    </span>
  </div>
  <div class="panel-body">      
    <% if @article.img %>
      <%= image_tag('main/' + @article.img, :class => "img-thumbnail") %>
    <% end %>    
    <div><%= @article.content.html_safe %></div>
  </div>
  <div class="info">
    <small class="pull-left"><span> Створено: </span> <%= @article.created_at.strftime('%I:%M, %d-%B-%Y') %> </small>
    <small class="pull-right">
      <span> Категорія: </span> 
        <%  if @article.category %>
          <%= link_to @article.category.name, @article.category %>
        <% end %>
    </small>
    <small class="pull-right">       
        <%  if @article.company %>
          <span> Торгова марка: </span>
          <%= link_to @article.company.name, @article.company %> 
        <% end %>
    </small>
  </div>
</div>

<%= link_to 'Редагувати', edit_article_path(@article) %> |
<%= link_to 'Повернутися', articles_path %> | 
<%= link_to 'Видалити', @article, method: :delete, data: { confirm: 'Ви впевнені?' } %>
