<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="user">
  <div class="field">
    <%= f.label :name, "Ім'я" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password, "Пароль" %><br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Повторіть пароль" %><br>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div><br>
  <div class="actions">
    <%= f.submit "Зберегти", class: "btn btn-sm btn-primary" %>
  </div>
</div>
<% end %>
