<h3 class="brand">Список користувачів:</h3>

<table>
  <thead>
    <tr>
      <th>Ім'я</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Переглянути', user %></td>
        <td><%= link_to 'Редагувати', edit_user_path(user) %></td>
        <td><%= link_to 'Видалити', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%= user.articles.count %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новий користувач', new_user_path %>
