<div class="col-md-8">
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Ім'я" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :phone, "Номер телефону" %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :pay_type, "Форма оплати" %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, {prompt: 'Виберіть форму оплати'}, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit "Зберегти", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
</div>
