<h1 class="brand">Перелік виробників</h1>

<div class="row">
  <% @companies.each do |company| %>
    <div id="companies">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail welly">
          <%= image_tag('main/' + company.img, class: "img-thumbnail") %>
          <div class="caption">
            <%= link_to company.name, company %>
            <p><%= truncate(company.describe, length: 100, separator: ' ', escape: false) %></p>
            <p><%= link_to "Детальніше", company, class: "btn btn-primary btn-xs" %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<table class="table table-hover">
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><strong><%= link_to company.name, company %></strong></td>
        <td><%= image_tag('main/' + company.img) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Company', new_company_path %>
