<h1 class="brand">Перелік виробників</h1>

<div class="row">
  <% @companies.each do |company| %>
    <div id="companies">
      <div class="col-sm-6 col-md-4">
        <%= image_tag('main/' + company.img, class: "img-thumbnail welly") %>
        <div class="thumbnail welly">          
          <div class="caption">
            <div class="header"><%= link_to company.name, company %></div><hr>
            <p><%= truncate(company.describe, length: 100, separator: ' ', escape: false) %></p>
            <p><%= link_to "Детальніше", company, class: "btn btn-primary btn-xs" %></p>
          </div>
        </div>        
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Company', new_company_path %>
