<h1 class="brand">каталог продукції</h1>

<% @products.each do |product| %>
<div id="product" class="panel panel-default">
  <div class="panel-heading"><%= link_to product.title, product %>
      <span class="pull-right">
      </span>
    </div>
    <div class="panel-body">
      <% if product.img %>
        <%= image_tag('products/' + product.img, :class => "img-thumbnail") %>
      <% end %>
      <div>
        <%= truncate(product.description, length: 300, separator: ' ', escape: false) %>        
          <%= link_to "Детальніше...", product, class: 'pull-right details' %>       
      </div>
      
      <div class="price_line">
        <span class="brand">
          Ціна: <%= sprintf("%0.02f", product.price) %> грн.
          
        </span> 
        <%= button_to 'Додати до корзини', line_items_path(product_id: product), remote: true, 
                          class: "btn btn-primary btn-xs" %>
      </div>      
    </div>    
  </div>
<% end %>
