<h3 class="brand">Популярні продукти</h3>
<div class="row">
  <% random_products.each do |product| %>
    <div class="col-md-4">
        <div id="product" class="panel panel-default">
          <div class="panel-heading"><%= link_to product.title, product %>
            <span class="pull-right"></span>
          </div>
          <div class="panel-body">
            <% if product.img %>
              <%= image_tag('products/' + product.img, :class => "img-thumbnail") %>
            <% end %>
            <div>
              <%= truncate(product.description, length: 200, separator: ' ', escape: false) %>
            </div>
            <div class="details">
              <%= link_to "Детальніше...", product, class: 'pull-right' %>              
            </div>
            <div class="price_line">
              <span class="brand">
                Ціна: <%= sprintf("%0.02f", product.price) %> грн.
              </span>    
            </div>
          </div><!-- /.panel-body -->
          <div class="info">   </div>
        </div><!-- /#product -->
    </div><!-- /col-md-4 -->
  <% end %>
</div><!-- /row -->