<div class="left-sidebar panel-group welly" id="accordion" role="tablist" aria-multiselectable="true">
  <% if @cart %>
    <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
      <%= render @cart %>
    <% end %>
  <% end %>
  <% all_themes.each do |theme| %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= theme.id %>" aria-expanded="true" aria-controls="collapse<%= theme.id %>">          
          <%= theme.name %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= theme.id %>" class="panel-collapse collapse %>" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <% theme.categories.each do |category| %>
          <li><%= link_to category.name, category %></li>
        <% end %>
      </div>
    </div>
  </div> 
  <% end %>  
</div>


