<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="description" content="<%= yield(:description) %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/nav' %>  
  
  <!-- Main component for a primary marketing message or call to action -->
  <div id="container" class="container welly">    
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/sidebar' %>        
      </div><!-- /col-md-3 -->
      <div class="col-md-6">             
      <% [:notice, :alert].each do |level| %>
        <% if flash[level] %>
          <div class="flash <% flash[level] %>">
            <%= flash[level] %>
          </div>
        <% end %>
      <% end %>
      <!-- <ol class="breadcrumbs">
        <li><a href="/">Головна</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol> -->
    <%= yield %>
    </div> <!-- /col-md-6 -->
    <div class="col-md-3">
        <%= render 'layouts/right_sidebar' %>        
    </div><!-- /col-md-3 -->
    </div> <!-- /row -->
  </div> <!-- /container -->
  
  <%= render 'layouts/footer' %>

</body>
</html>
